{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>IV Festival Potiguara Ibirapi - inscrição</title>
   <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
   <link rel="stylesheet" href="{% static 'festival_app/css/style.css' %}">
</head>
    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">

<body>

    <!-- CABEÇALHO -->
<header class="header">

    <div class="logo-nome">
        <img src="{% static 'festival_app/img/ibirapi.png' %}" alt="Logo">

        <h1>Aldeia Potiguara Ibirapi de Lagoa Grande</h1>
    </div>

</header>


    <!-- CAPA -->
    <section class="hero">

        <div class="hero-conteudo">

            <span class="tag">EVENTO</span>

            <h2>
                IV FESTIVAL IBIRAPI 2026
            </h2>

            <p>
                Educação Ambiental, Resistência, Cultura e Ancestralidade Indígena 
            </p>

        </div>

    </section>


    <!-- INFORMAÇÕES DO EVENTO -->
    <section class="evento" id="evento">

        <div class="titulo-secao">
            <span>INFORMAÇÕES</span>

            <h2>Sobre o evento</h2>

            <p>
                Participe desse momento de convivência e troca de
                experiências durante o evento.
            </p>
        </div>


        <div class="informacoes">

            <div class="info-card">

                <div class="icone">📅</div>

                <div>
                    <h3>Data</h3>
                    <p>09 e 10 de outubro de 2026</p>
                </div>

            </div>


            <div class="info-card">

                <div class="icone">⏰</div>

                <div>
                    <h3>Horário</h3>
                    <p>09h00 às 17h00</p>
                </div>

            </div>


            <div class="info-card">

                <div class="icone">📍</div>

                <div>
                    <h3>Local</h3>
                    <p>Aldeia Potiguara Ibirapi Lagoa Grande</p>
                </div>

            </div>

        </div>

    </section>
    <!-- ==============================
     PROGRAMAÇÃO
================================= -->

<section class="programacao" id="programacao">

    <div class="titulo-secao">

        <span>PROGRAMAÇÃO</span>

        <h2>IV Festival Potiguara Ibirapi</h2>

        <p>
            Confira a programação completa dos dias 09 e 10 de
            outubro de 2026.
        </p>

    </div>


    <!-- DIA 09 -->

    <div class="dia-programacao">

        <div class="dia-cabecalho">

            <div class="dia-numero">
                09
            </div>

            <div>
                <span>SEXTA-FEIRA</span>

                <h3>Primeiro dia</h3>

                <p>
                    Festival aberto ao público • 9h às 17h
                </p>
            </div>

        </div>
        <div class="cronograma">


            <div class="atividade">

                <div class="horario">
                    7h
                </div>

                <div class="atividade-conteudo">

                    <h4>CAFÉ DA MANHÃ NA ALDEIA</h4>

                    <p>
                        Café da manhã.
                    </p>
                      <p>
                    </p>
                    <a href="https://forms.gle/8Pa2qhhTnJ7G9wnK7" target="_blank">
                                Inscreva-se aqui
                    </a>
                </div>

            </div>

        <div class="cronograma">


            <!-- 9h -->

            <div class="atividade">

                <div class="horario">
                    9h
                </div>

                <div class="atividade-conteudo">

                    <h4>ABERTURA</h4>

                    <strong>“Bem-vindos à Ibirapi”</strong>

                    <ul>
                        <li>Acolhimento dos participantes;</li>
                        <li>Apresentação da programação;</li>
                        <li>Fala das autoridades e das lideranças;</li>
                        <li>Toré de abertura.</li>
                        <a href="https://forms.gle/kQTssGqC59HiyUG27" target="_blank">
                            Inscreva-se aqui
                        </a>
                    </ul>

                </div>

            </div>


            <!-- 9h30 -->

            <div class="atividade">

                <div class="horario">
                    9h30
                </div>

                <div class="atividade-conteudo">

                    <h4>RODA DE MEMÓRIA</h4>

                    <strong>
                        Quem somos nós: memória, território e
                        resistência do povo Potiguara Ibirapi
                        de Lagoa Grande.
                    </strong>

                    <p>
                        Participação dos mais velhos da Aldeia,
                        apresentando o Mapa Afetivo como fio
                        condutor da conversa.
                    </p>
                     <a href="https://forms.gle/z24BY8WJuEgH65uv5" target="_blank">
                            Inscreva-se aqui
                        </a>

                </div>

            </div>


            <!-- 10h30 -->

            <div class="atividade">

                <div class="horario">
                    10h30
                </div>

                <div class="atividade-conteudo">

                    <h4>CIRCUITO “SABERES DA ALDEIA”</h4>

                    <p>
                        Os participantes serão divididos em pequenos
                        grupos e circularão por diferentes estações.
                    
                    </p>

                     <p>
                            </p>
                             <a href="https://forms.gle/QqCZmnhWDJhdN9w66" target="_blank">
                                Inscreva-se aqui
                            </a>


                    <div class="estacoes">

                        <div>
                            <b>Estação 1 | Grafismo e identidade</b>

                            <p>
                                Pintura corporal e conversa sobre
                                os significados dos grafismos.
                            </p>

                            <small>Condução: Beto</small>
                        </div>


                        <div>
                            <b>Estação 2 | Peteca: brincar, fazer e aprender</b>

                            <p>
                                Confecção rápida e experimentação
                                da peteca.
                            </p>

                            <small>Condução: Luciene</small>
                        </div>


                        <div>
                            <b>Estação 3 | Saberes da mata</b>

                            <p>
                                Plantas, sementes, usos tradicionais
                                e relação com o território.
                            </p>

                            <small>
                                Condução: Seu Clemente e Cacique Y’membyra
                            </small>
                        </div>


                        <div>
                            <b>Estação 4 | Memória Potiguara Ibirapi</b>

                            <p>
                                Objetos, fotografias, artesanatos e
                                relatos da história da aldeia.
                            </p>

                            <small>
                                Condução: Bárbara e Larissa
                            </small>
                        </div>

                    </div>

                </div>

            </div>


            <!-- 11h20 -->

            <div class="atividade">

                <div class="horario">
                    11h20
                </div>

                <div class="atividade-conteudo">

                    <h4>NHE'ENGA TUPI</h4>

                    <p>
                        Retomada da língua enquanto símbolo de luta
                        e resistência.
                    </p>

                    <p>
                        <b>Participantes:</b> Diego Akanguasu,
                        liderança de Rio dos Índios, liderança de
                        Aningas, liderança de Ponta do Mato e
                        Bárbara Cristina.
                    </p>
                     <a href="https://forms.gle/GpbMdXCFsi6BGWQ8A" target="_blank">
                                Inscreva-se aqui
                            </a>

                </div>

            </div>


            <!-- 12h -->

            <div class="atividade destaque-almoco">

                <div class="horario">
                    12h
                </div>

                <div class="atividade-conteudo">

                    <h4>ALMOÇO NA ALDEIA</h4>

                    <p>
                    </p>
                     <a href="https://forms.gle/mUf1Af3w1ftp57ct7" style ="color: #ecece9;" target="_blank">
                                Inscreva-se aqui
                            </a>
                </div>

            </div>


            <!-- 13h30 -->

            <div class="atividade">

                <div class="horario">
                    13h30
                </div>

                <div class="atividade-conteudo">

                    <h4>RODA DE CONVERSA</h4>

                    <strong>
                        Web Conferência: Exposição do Livro Tappeweppe
                    </strong>

                    <p>
                        Conferencista: Thiago Cóstakz
                    </p>
                    
                    <p>
                    </p>
                     <a href="https://forms.gle/JNgBeb7TGEfnn2dr8" target="_blank">
                                Inscreva-se aqui
                            </a>

                </div>

            </div>


            <!-- 15h -->

            <div class="atividade">

                <div class="horario">
                    15h
                </div>

                <div class="atividade-conteudo">

                    <h4>GRANDE CIRCUITO DE BRINCADEIRAS IBIRAPI</h4>

                    <p>
                        Estações de brincadeiras e desafios.
                    </p>

                    <ol>
                        <li>Revezamento de Peteca</li>
                        <li>Arremesso ao alvo – com bodoque</li>
                        <li>Corrida de equilíbrio</li>
                        <li>Cabo de guerra</li>
                        <li>Quebra-cabeça</li>
                    </ol>

                    <div class="nota">
                        Inscrições das equipes no dia do evento
                        a partir das 10h.
                    </div>

                    <p>
                        <b>Categorias:</b><br>
                        Crianças: 05 a 09 anos<br>
                        Adolescentes: 10 a 14 anos<br>
                        Adultos: 16 anos acima
                    </p>
                     <p>
                    </p>
                     <a href="https://forms.gle/meEkTj5vu8K8R6XA7" target="_blank">
                                Inscreva-se aqui
                            </a>

                </div>

            </div>


            <!-- 16h30 -->

            <div class="atividade">

                <div class="horario">
                    16h30
                </div>

                <div class="atividade-conteudo">

                    <h4>CULTURA EM MOVIMENTO</h4>

                    <p>Apresentações de:</p>

                    <ul>
                        <li>Grupo de Bambolê;</li>
                        <li>Grupo de côco de Roda.</li>
                    </ul>
                     <p>
                    </p>
                     <a href="https://forms.gle/1LDWHiP4eEPvUaxm7" target="_blank">
                                Inscreva-se aqui
                            </a>
                </div>

            </div>


            <!-- 16h45 -->

            <div class="atividade">

                <div class="horario">
                    16h45
                </div>

                <div class="atividade-conteudo">

                    <h4>ENCERRAMENTO DO PRIMEIRO DIA</h4>

                    <strong>“A aldeia continua...”</strong>

                </div>

            </div>


            <!-- NOITE -->

            <div class="atividade noite">

                <div class="horario">
                    19h
                </div>

                <div class="atividade-conteudo">

                    <h4>NOITE DE VIVÊNCIA IBIRAPI</h4>

                    <strong>Jantar na aldeia – com música ao vivo</strong>
                     <p>
                    </p>
                    <a href="https://forms.gle/QrGNvPzd6Ew6xYKb6" style="color: #fafaf8;" target="_blank">
                                Inscreva-se aqui
                    </a>
                </div>

            </div>


            <div class="atividade noite">

                <div class="horario">
                    21h30
                </div>

                <div class="atividade-conteudo">

                    <h4>“OLHAR PARA O CÉU”</h4>

                    <p>
                        Experiência de observação do céu e conversa
                        sobre como os povos indígenas percebem o
                        tempo, a natureza, a lua e as estrelas.
                    </p>

                    <small>
                        Guiada pelo cacique Y’mebyra,
                        Pajé Guaraci e Cadu.
                    </small>
                      <p>
                    </p>
                    <a href="https://forms.gle/YYJ7m8psv2EaLwXo9" style="color: #fafaf8;" target="_blank">
                                Inscreva-se aqui
                    </a>

                </div>

            </div>


            <div class="atividade noite">

                <div class="horario">
                    22h30
                </div>

                <div class="atividade-conteudo">

                    <h4>SILENCIAMENTO E DESCANSO</h4>

                </div>

            </div>

        </div>

    </div>


    <!-- DIA 10 -->

    <div class="dia-programacao segundo-dia">

        <div class="dia-cabecalho">

            <div class="dia-numero">
                10
            </div>

            <div>

                <span>SÁBADO</span>

                <h3>Segundo dia</h3>

            </div>

        </div>


        <div class="cronograma">


            <div class="atividade">

                <div class="horario">
                    7h
                </div>

                <div class="atividade-conteudo">

                    <h4>CAFÉ DA MANHÃ NA ALDEIA</h4>

                    <p>
                        Café da manhã.
                    </p>
                      <p>
                    </p>
                    <a href="https://forms.gle/ewCKFmkwVzoR2TTu8" target="_blank">
                                Inscreva-se aqui
                    </a>
                </div>

            </div>


            <div class="atividade">

                <div class="horario">
                    7h30
                </div>

                <div class="atividade-conteudo">

                    <h4>CAMINHADA IBIRAPI</h4>

                    <strong>“Caminhos da Memória”</strong>
                     <p>
                    </p>
                    <a href="https://forms.gle/1LKD1roAYHpuPUse8" target="_blank">
                                Inscreva-se aqui
                    </a>
                    

                    <div class="estacoes">

                        <div>
                            <b>Parada 1 | A natureza</b>
                            <p>
                                Entorno da Lagoa: plantas, árvores,
                                animais e relação com o ambiente.
                            </p>
                        </div>

                        <div>
                            <b>Parada 2 | A memória</b>
                            <p>
                                Pontos de memória e histórias daquele lugar.
                            </p>
                        </div>

                        <div>
                            <b>Parada 3 | Água e território</b>
                            <p>
                                Lagoa, Rio, Canos e a relação da comunidade
                                com os recursos naturais.
                            </p>
                        </div>

                        <div>
                            <b>Parada 4 | Juventude e futuro</b>
                        </div>

                    </div>

                </div>

            </div>


            <div class="atividade">

                <div class="horario">
                    9h30
                </div>

                <div class="atividade-conteudo">

                    <h4>RODA DE CONVERSA</h4>

                    <strong>
                        Protagonismos indígenas no Rio Grande do Norte
                        no século XIX
                    </strong>

                    <p>
                        A experiência política da “Facção dos Índios”
                        da Vila de Extremoz.
                    </p>

                    <p>
                        <b>Participantes:</b> Pedro Júnior (escritor)
                        e Cacique Y’membyra (coordenador da roda).
                    </p>
                    <p>
                    </p>
                    <a href="https://forms.gle/A5EFZuyzebyNP3629" target="_blank">
                                Inscreva-se aqui
                    </a>
                    
                </div>

            </div>


            <div class="atividade">

                <div class="horario">
                    10h30
                </div>

                <div class="atividade-conteudo">

                    <h4>“IBIRAPI EM JOGO”</h4>

                    <strong>
                        Grande manhã de brincadeiras tradicionais
                    </strong>

                    <ul>
                        <li>Campeonato de peteca;</li>
                        <li>Desafio de arco e flecha;</li>
                        <li>Brincadeiras de pontaria – Baladeira;</li>
                        <li>Jogos de memória indígena.</li>
                    </ul>
                    <p>
                    </p>
                    <a href="https://forms.gle/KjNeipsUczT24arX8" target="_blank">
                                Inscreva-se aqui
                    </a>
                    
                </div>

            </div>


            <div class="atividade">

                <div class="horario">
                    11h30
                </div>

                <div class="atividade-conteudo">

                    <h4>APRESENTAÇÃO CULTURAL</h4>

                    <p>
                        Crianças da Aldeia
                    </p>
                     <p>
                    </p>
                    <a href="https://forms.gle/3ZxAfzaVmfhJHtGDA" target="_blank">
                                Inscreva-se aqui
                    </a>
                </div>

            </div>


            <div class="atividade">

                <div class="horario">
                    11h45
                </div>

                <div class="atividade-conteudo">

                    <h4>TORÉ DE ENCERRAMENTO</h4>
                     <p>
                    </p>
                    <a href="https://forms.gle/TcKnAGgbhj66y9Lb8" target="_blank">
                                Inscreva-se aqui
                    </a>
                </div>

            </div>


            <div class="atividade destaque-almoco">

                <div class="horario">
                    12h
                </div>

                <div class="atividade-conteudo">

                    <h4>ALMOÇO DE ENCERRAMENTO</h4>
                     <p>
                    </p>
                    <a href="https://forms.gle/BviYTaVFQ3yWFQ4r6" style ="color: #fffdfd;" target="_blank">
                                Inscreva-se aqui
                    </a>

                </div>
                
            </div>


            <div class="atividade">

                <div class="horario">
                    13h
                </div>

                <div class="atividade-conteudo">

                    <h4>ENCERRAMENTO OFICIAL DA IV EDIÇÃO</h4>

                </div>

            </div>

        </div>

    </div>
  <!-- VILA DE SABERES -->

    <div class="vila-saberes">

        <span>🛖 DURANTE O FESTIVAL</span>

        <h3>Vila de Saberes Ibirapi</h3>

        <p>
            Atividades que estarão ocorrendo durante o festival:
        </p>

        <div class="vila-grid">

            <div>Feira de artesanato</div>

            <div>Comidas tradicionais</div>

            <div>Exposição de fotografias antigas</div>

            <div>Exposição de objetos e artefatos</div>

            <div>Venda de sementes e produtos da comunidade</div>

            <div>Pintura corporal</div>

        </div>

    </div>

</section>


    <!-- RODAPÉ -->
    <footer>



        <div class="copyright">

            © 2026 Aldeia Potiguara Ibirapi.
            Todos os direitos reservados.

        </div>

    </footer>


</body>
</html>
{% load static %}